 <div style="background-image: url('https://gonzomusic.fr/files/Red-Hot-Chili-Peppers-April-2022-promo-credit-Pavel-Suslov.jpg'); background-size: cover; background-attachment: fixed; color: black">
    <div class="p-5 m-5">
      <%
        if(data.user){
        if(data.user.role=='admin'){%>
          <a class="btn btn-primary" href="/admin/createconcert">Dodaj koncert</a>
          <%}}%>  
      <% if(data.data.length>0){%>
      <h3 class="text-center p-4" style="background-color:rgba(52, 52, 52, 0.913); color: rgb(225, 225, 225); border: 2px solid rgb(212, 212, 212);">Koncerti u rasporedu:</h3>
      <table class="table" style="background-color:rgba(52, 52, 52, 0.913); color: rgb(225, 225, 225); border: 2px solid rgb(212, 212, 212); font-size: large;">
          <thead class="thead-dark">
          <tr>
            <th scope="col"></th>
            <th scope="col">Zemlja</th>
            <th scope="col">Grad</th>
            <th scope="col">Datum</th>
            <th scope="col">Opis</th>
            <th scope="col">Status</th>
            <%if(data.user==null || data.user.role=='user'){%>
            <th scope="col"></th> 
            <%}%>
          </tr>
        </thead>  
        <tbody>  
          <%data.data.forEach((e,i)=>{%>
          <tr>
            <th scope="row"><%= i+1%></th>
            <td><%= e.country%></td>
            <td><%= e.city%></td>
            <td><%= e.start_date.toLocaleDateString()%>, <%=e.start_date.toLocaleTimeString().slice(0,-3)%></td>  
            <td><%= e.description%></td>  
            <td><%= e.is_active?'dostupan':'rasprodat'%></td>  
            
          <%if(data.user==null || data.user.role=='user'){%>
            <td class="d-flex justify-content-evenly align-items-center">
              <% if(e.is_active){ %> <a href="/concerts/reserveCard/<%=e.id_concert%>" class="btn btn-primary">Rezerviši</a>
              <a href="/concerts/buyCard/<%=e.id_concert%>" class="btn btn-danger">Kupi</a>
              <%}else{%> <a href="#" class="btn btn-primary disabled">Rezerviši</a>
              <a href="#" class="btn btn-danger disabled">Kupi</a>
              <%}%>
            </td>
          <%}%>
          </tr>
          <%})%>
        </tbody>
      </table>
      <%} else{%>
      <h2 class="text-danger text-center bg-dark p-5">Ne postoji ni jedan koncert u rasporedu</h2>
      <%}%>
    </div>
  </div>

  