<!--<div class="col-xl-12 bg-image container-fluid" style="background-image: url('https://alterock.net/wp-content/uploads/2016/06/Alterock-RHCP_logo_2015.jpg'); background-repeat: repeat;">-->

  <div style="background-color: rgb(201, 201, 201); color: black;">
    <div class="p-5">
    <% if(data.length>0){%>
    <table class="table" style="background-color: transparent; color: black;">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Zemlja</th>
            <th scope="col">Grad</th>
            <th scope="col">Datum</th>
            <th scope="col">Opis</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <%data.forEach((e,i)=>{%>
            <tr>
              <th scope="row"><%= i+1%></th>
              <td><%= e.country%></td>
              <td><%= e.city%></td>
              <td><%= e.start_date.toLocaleDateString().slice(0,-1)%>, <%=e.start_date.toLocaleTimeString().slice(0,-3)%></td>
              <td><%= e.description%></td>
              <td><%= e.is_active?'aktivan':'neaktivan'%></td>
            </tr>
          <%})%>
        </tbody>
      </table>
    <%} else{%>
      <h2 class="text-danger text-center bg-dark p-5">Ne postoji ni jedan koncert u rasporedu</h2>
      <%}%>
    </div>
    </div>